@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
@import url("responsive/base.css");
@import url("responsive/small.css");
@import url("responsive/medium.css");
@import url("responsive/large.css");
@import url("responsive/xlarge.css");
@import url("bot.css");

:root {
  --primary-color: cornflowerblue;
  --secondary-color: #0047AB;
}

/* ESTILOS UTILITARIOS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

.scrool {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  padding: 91.59px 20px 20px 20px;
}
