@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
@import url("responsive/base.css");
@import url("responsive/small.css");
@import url("responsive/medium.css");
@import url("responsive/large.css");
@import url("responsive/xlarge.css");
@import url("bot.css");

:root {
  --primary-color: cornflowerblue;
  --secondary-color: #0047AB;
}

/* ESTILOS UTILITARIOS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

.scrool {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
  padding: 90px 20px 20px 20px;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.title-section *{
  display: block;
}

.title-section img{
  max-width: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.logoBackground {
  position: fixed;
  opacity: 6%;
  bottom: 250px;
  left: 0;
  width: 500px;
  rotate: 45deg;
  z-index: -1;
}
