/* Tabletas y superiores (mínimo 768px) */
@media (min-width: 768px) {

  #logoBackground {
    opacity: 2%;
    width: 700px;
  }

  section {
    padding: 20px 20px 0 20px;
  }

  section {
    padding-top: 110px;
  }

  .title-section {
    justify-content: start;
    font-size: 1.5rem;
  }

  .scrool {
    overflow-y: unset;
  }

  #containerLogoHeader{
    width: auto;
  }

  #menuToggle {
    display: none; /* Ocultar botón en pantallas grandes */
  }

  nav {
    margin: 0;
    display: flex; /* Mostrar menú en pantallas grandes */
    flex-direction: row; /* Alinear elementos horizontalmente */
    justify-content: right;
    position: static; /* Restablecer la posición */
    opacity: 1; /* Opacidad total en pantallas grandes */
    visibility: visible; /* Hacer visible el menú */
    flex-grow: 1;
  }

  nav ul {
    padding: 0;
    flex-direction: row; /* Alinear elementos en fila */
  }

  nav ul li {
    margin-left: 5px;
  }

  nav ul li a{
    color: white;
    font-size: 1rem;
  }

  header {
    background-color: var(--secondary-color);
  }

  #logoFullColor {
    display: none;
  }

  #logoWhite {
    display: block;
  }

  #infoLink {
    display: none;
  }

  main {
    display: flex;
    max-height: 100%;
  }

  #info {
    background: var(--primary-color);
  }

  #info h1, #info h2 {
    color: white;
  }

  #iconScroolContainer {
    display: none;
  }

  #scrollContent {
    overflow-y: scroll;
  }

  #scrollContent section{
    min-height: auto;
  }

  /* EXPERIENCIA */

  .flex-experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item-experience {
    padding: 25px 0;
  }

  .date-experience, .position-experience {
    margin-top: 0;
    font-size: 1.2rem;
  }

  .enterprise-experience {
    font-size: 1.1rem;
    margin-top: 10px;
  }

  .description-experience {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  .description-tag {
    font-size: 1.05rem;
  }

  /* EDUCATION */

  .item-education {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item-education > div{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
  }

  .date-education, .title-education, .school-education {
    margin-top: 0;
    font-size: 1.2rem;
  }

  .school-education {
    margin-left: 10px;
  }

  .school-education::before {
    margin-right: 10px;
    content: "|";
  }

  /* SKILLS */

  .flex-skills {
    display: flex;
  }

  .containerItemsSkill {
    width: 50%;
  }

  .flex-skills > *{
    flex-grow: 1;
  }

  .group-skill {
    width: 100%;
    padding: 0 20px;
  }

  .title-group-skill {
    margin-top: 20px;
    font-size: 1.3rem;
  }

  .name-skill {
    font-size: 1.2rem;
    text-align: left;
    width: 40%;
  }
  
  .progress-container {
    font-size: 1.2rem;
    text-align: left;
    width: 60%;
  }

  .text-about *{
    margin: 25px 0;
    line-height: 1.8rem;
  }

}
